body {
    background: linear-gradient(-45deg, #daddd3, #fefffc);
    margin: 0;
    padding: 0;
  }

.flex-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}  

/* Header Section */
    
header {
    width: 100%;
    position: fixed;
    z-index: 1;
    height: 69px;
    background-color: #000000;
    border-bottom: 1px solid seashell;
    align-items: center;
}
  
header img {
    height: 65px;
    padding-left: 10px;
    background-color: white;
}
  
nav {
    display: flex;
    justify-content: flex-end;
    font-family: 'Ubuntu Condensed', sans-serif;
    font-size: 30px;
    color: white;
    flex-grow: 1;
}
  
nav span {
    display: inline-block;
    padding: 19px 30px;
}

nav a:link, a:visited {
    color: white;
}

nav a:hover {
    color: red;
}

/* Main Section */
.main {
    padding-top: 69px;
    opacity: 0.9;
    width: 1200px;
    margin: auto;
}


/* Introduction Section */
#intro {
    height: 500px;
    background-image: url("../img/restaurant.jpg");
    padding-top: 70px;
    border: 5px solid #333;
    border-radius: 25px;
  }
  
#intro .content {
    background-color: transparent;
    color: white;
    font-size: 34px;
    text-align: center;
    padding: auto;
}

#intro .content h3{
    font-size: 25px;
    padding: 270px;
}

/* Features Section */

#features {
    height: 700px;
    width: 1000px;
    margin: auto;
    padding-top: 10px;
    font-family: 'Ubuntu Condensed', sans-serif;
    font-size: 20px;
}
  
.item {
  margin: 0;
  display: flex;
  border: 5px solid #333;
  background-color: #fff;
  margin-bottom: 2rem;
}

.item div:first-child {
  flex: 1;
  background-size: cover;
  background-position: center;
}

.item:first-of-type div:first-child {
    background-image: url("../img/restaurant\ searching.jpg");
}

.item div:nth-last-of-type(2) {
    background-image: url("../img/tracker\ map.jpg");   
}

.item:last-of-type div:first-child {
    background-image: url("../img/form.jpg");
}

.item div:last-child {
    margin: 2rem;
    flex: 2;
}

.item h3 {
  font-size: 1.5rem;
  margin-top: 0;
  font-weight: 400;
}

.item p {
  font-size: 1rem;
  line-height: 1.4;
  font-weight: 400;
}

.item p:last-of-type {
  margin-bottom: 0;
}
.column {
  width: 80%;
  margin: 0 auto;
  max-width: 700px;
}

/*@media all and (max-width: 600px) {
  body { margin: 0; }
  // .flex div { flex: 1 !important; } optional: equalizes the visual "weight" of the photo and description
}
@media all and (max-width: 450px) {
  h2 {
    margin: 1rem;
  }
  .flex {
    border: 0;
    margin: 0;
    border-bottom: 2px solid #333;
  }
  .flex div:last-child {
    margin: 1rem;
  }
  .column {
    width: 100%;
  }
}
@media all and (max-width: 400px) {
  .flex { flex-direction: column; } 
  .flex div:first-child {
    min-height: 200px;
  }
}*/

/* Footer Section */

footer {
	position: relative;
	width: 100%;
	bottom: -100px;
	background-color: #000000;
}

footer p {
  color: white;
  font-family: 'Ubuntu Condensed', sans-serif;
  font-size: 25px;
	text-align: center;
	width: 100%;
	box-sizing: border-box;
}

