/* Header */
.header {
    background-color: #305244;
    color: #E3FFF9;
    font-size: 28px;
    font-family: 'Sniglet', cursive;
    display: flex;
    flex-wrap: wrap;
    place-content: space-between;
    margin-bottom: 15px;
}

.header img{
    width: 200px;
}

/* Body */
.content{
    width: 960px;
    font-family: 'Sniglet', cursive;
    display: flex;
    flex-wrap: wrap;
    border: solid 2px;
    margin: 0 auto;
}

/* Image */
.image p{
    border: solid 1px;
    margin: auto auto;
}
.image img{
    height: 300px;
    display: plex;
    flex-wrap: wrap;
    margin-right: 4px;
    border: dotted 2px;
}

/* History */
.history{
    border: dotted 1px;
    flex: 1;
}