/* Header */
.header {
    background-color: #305244;
    color: #E3FFF9;
    font-size: 28px;
    font-family: 'Passion One', cursive;
    font-weight: 700;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    place-content: space-between;
    margin-bottom: 15px;
}

.logo{
    width: 200px;
}

/* Body */
.all-contents{
    background-color:#EFF5E0;
    padding: 0px;
    margin: 0px;
}

.wrapper{
    display: flex;
    flex-flow: wrap column;
    align-items: center;
}

.content{
    max-width: 960px;
    font-family: serif;
    display: flex;
    flex-wrap: wrap;
}

.description{
    font-family: serif;
}

.job{
    font-family: serif;
}

/* Left Column */
.left-column{
    flex: 30%;
}

.image{
    width: 300px;
    border: solid 1px;
    border-radius: 4px;
    background-color: mintcream;
}

.goal{
    margin-top: 1px;
    width: 300px;
    background-color: honeydew;
}

/* Right Column */
.right-column{
    flex: 60%;
    font-family: 'Sniglet', cursive;
    font-weight: 400;
    background-color: honeydew;
}

/* Breakpoint */
@media only screen and (max-width: 1000px){
    .content{
        display: flex;
        justify-content: center;
    }

    .left-column{
        display: flex;
        justify-content: space-evenly;
        margin-bottom: 10%;
    }

    .goal{
        display: flex;
        align-self: center;
    }

    .right-column{
        flex-wrap: wrap;
        margin: 0 auto;
    }
}
